{% extends 'base.html.twig' %}
{% block body %}
<form>
    <table>
        <tr>
            <td><label for="email">Email :</label></td>
            <td><input type="email" id="email" name="email" required></td>
        </tr>
        <tr>
            <td><label for="password">Mot de passe :</label></td>
            <td><input type="password" id="password" name="password" required></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center;"><button type="submit">Se connecter</button></td>
        </tr>
    </table>
</form>
{% endblock %}
